@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Component {
  padding: 100px;
}

.navbar-default {
  margin-bottom: 0;
}

/* ul.nav.nav-tabs  {
  background-color: green;
} */

.nav>li>a,
.nav>li>a:focus, 
.nav>li>a:hover {
  color: red;
  background-color: transparent;
  border-style: none;
  color: black;
  font-weight: bold;
  text-shadow: .5px .5px white;
}

.nav>li.active>a, 
.nav>li.active>a:focus, 
.nav>li.active>a:hover {
  color: red;
}
