@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

.Component {
  padding: 100px;
  height: 70vh;
}

.myTabs, .myTabs:hover {
  color: black;
  font-weight: bold;
}

ul.nav.nav-tabs {
  background-image: url('./images/pattern.png');
  background-size: cover;
}

.myTabs>li {
  float: right;
  width: 20vw;
  height: 10vh;
}

.myTabs>li.logo,
.myTabs>li.logo.active, 
.myTabs>li.logo>a,
.myTabs>li.logo.active>a, 
.myTabs>li.logo>a:focus, 
.myTabs>li.logo.active>a:focus, 
.myTabs>li.logo>a:hover,
.myTabs>li.logo.active>a:hover {
  width: 55vw;
  font-size: 4vh;
  float: left;
  background-color: transparent;
  border-style: none;
  color: black;
  font-weight: bold;
  text-shadow: .5px .5px white;
}

.myTabs>li.mytab>a,
.myTabs>li.myTab>a:focus, 
.myTabs>li.myTab>a:hover {
  background-color: transparent;
  border-style: none;
  color: black;
  font-weight: bold;
  text-shadow: .5px .5px white;
  outline: none;
}

.myTabs>li.mytab.active>a, 
.myTabs>li.myTab.active>a:focus, 
.myTabs>li.myTab.active>a:hover {
  background-color: white;
  color: red;
  outline: none;
}
