.Component {
  padding: 100px;
  height: -webkit-fill-available;
}

#scroll {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 50%;
    height: 100%;
  }

  #scroll > span {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #ff0033;
    border-bottom: 2px solid #ff0033;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb01 2s infinite;
    animation: sdb01 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }

  #scroll span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scroll span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #scroll span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb01 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb01 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  