.myJumbotron {
  height: 70vh;
  background: white;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10vh 5vw;
}


h1 {
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  letter-spacing: -1px;
}

h2 {
  font : normal 300 36px/1 'Josefin Sans', sans-serif;
}